agents/guarded_adaptive.json
{
  "name": "Adaptive Chatbot with Guardrails",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -368,
        0
      ],
      "id": "e8c904cc-4543-4efd-81df-06cec32b4f1f",
      "name": "When chat message received",
      "webhookId": "aaa6be71-1c98-49da-9106-81a8acc8ee78"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        672,
        32
      ],
      "id": "72a1035c-9606-4231-b4ab-b6cc846575ef",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "coHV0ng46hLrxrhb",
          "name": "OpenAi Account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        768,
        32
      ],
      "id": "8aa8690f-abbb-42d2-be29-f26a83d96fff",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Use this to look up information about LangGraph",
        "weaviateCollection": {
          "__rl": true,
          "value": "LangGraphDocs",
          "mode": "list",
          "cachedResultName": "LangGraphDocs"
        },
        "topK": 5,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreWeaviate",
      "typeVersion": 1.3,
      "position": [
        944,
        -32
      ],
      "id": "4e966e40-c78b-4664-a2ff-c7350856d543",
      "name": "Weaviate Vector Store",
      "credentials": {
        "weaviateApi": {
          "id": "P2a7c7bGB15bwwBo",
          "name": "Weaviate Credentials Account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        944,
        96
      ],
      "id": "8776c5fe-cc01-46cb-a948-49492a17fee2",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "coHV0ng46hLrxrhb",
          "name": "OpenAi Account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        560,
        416
      ],
      "id": "c3173eec-33da-4361-9906-38902d997189",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "coHV0ng46hLrxrhb",
          "name": "OpenAi Account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        672,
        416
      ],
      "id": "f59f83cb-b51e-4f2a-96fc-489f50ca9d14",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "query": "={{ $json.chatInput }}",
        "options": {}
      },
      "type": "@tavily/n8n-nodes-tavily.tavilyTool",
      "typeVersion": 1,
      "position": [
        848,
        416
      ],
      "id": "0fa0d264-12d7-499b-880e-17a8bfeb3437",
      "name": "Search in Tavily",
      "credentials": {
        "tavilyApi": {
          "id": "UNMvoUJ4TPA7ZAfa",
          "name": "Tavily Account"
        }
      }
    },
    {
      "parameters": {
        "inputText": "={{ $json.chatInput }}",
        "categories": {
          "categories": [
            {
              "category": "LangChain Question",
              "description": "Is this question related to LangGraph, LangSmith, or LangChain?"
            },
            {
              "category": "non-LangChain Question",
              "description": "Is this question not related to LangGraph, LangSmith, or LangChain"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        240,
        0
      ],
      "id": "3a381fb4-4aec-48b7-802f-635edaca8534",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        240,
        160
      ],
      "id": "ee301f31-a52d-439c-9027-2513af2fab75",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "coHV0ng46hLrxrhb",
          "name": "OpenAi Account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -160,
        208
      ],
      "id": "c48e93bf-de90-4789-a8aa-d7eea1c5b253",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "coHV0ng46hLrxrhb",
          "name": "OpenAi Account"
        }
      }
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nreturn [{\"output\": \"Sorry, I'm not able to assist with that request.\"}]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        -176
      ],
      "id": "69069bc5-5b75-4412-959b-f2fba5776cce",
      "name": "Code"
    },
    {
      "parameters": {
        "inputText": "={{ $json.chatInput }}",
        "categories": {
          "categories": [
            {
              "category": "Dangerous Query",
              "description": "Query mentions inappropriate or illegal topics, even if briefly and in benign context. Dangerous topics include death of animals, sex, or crime of any kind"
            },
            {
              "category": "Sensitive Query",
              "description": "Query asks for Personally Identifiable Information of an individual"
            },
            {
              "category": "Benign Query",
              "description": "Query does not relate to dangerous or sensitive topics in any way"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        -160,
        -16
      ],
      "id": "7cd4a0b0-4c5b-4763-b108-c2b965d2c873",
      "name": "Guardrail Classifier"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a helpful assistant. Use the vector search tool to answer the user's questions about LangGraph and related topics."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        672,
        -144
      ],
      "id": "10e86d99-1d43-4771-9d38-7b42ad4579b3",
      "name": "[Adaptive Chatbot with Guardrails] Docs Agent"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a helpful assistant. Always use the Tavily web search tool to help you answer the question - do not assume you know the answer without gathering context."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        672,
        224
      ],
      "id": "84827bc2-2a49-4fe4-8bc5-d33199779c50",
      "name": "[Adaptive Chatbot with Guardrails] Web Agent"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Guardrail Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "[Adaptive Chatbot with Guardrails] Docs Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "[Adaptive Chatbot with Guardrails] Docs Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Weaviate Vector Store": {
      "ai_tool": [
        [
          {
            "node": "[Adaptive Chatbot with Guardrails] Docs Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Weaviate Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "[Adaptive Chatbot with Guardrails] Web Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "[Adaptive Chatbot with Guardrails] Web Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Search in Tavily": {
      "ai_tool": [
        [
          {
            "node": "[Adaptive Chatbot with Guardrails] Web Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "[Adaptive Chatbot with Guardrails] Docs Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "[Adaptive Chatbot with Guardrails] Web Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Guardrail Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Guardrail Classifier": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c793781a-c9f6-4499-99eb-250621d5cace",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bd3ada2018419803356d4c16841fbfedbea960f6544df1bee0a95095701d4a1a"
  },
  "id": "YR2irVjd4X8FoLy3",
  "tags": []
}